// ==========================================================================
//  Button Styles
// ==========================================================================

// Interface Buttons
.interface-btn {
    display: block;
    padding: 2px;
    border: 2px solid #493628;
    font-size: 12px;
    height: auto;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
}