// ==========================================================================
//  Button Styles
// ==========================================================================

// Interface Buttons
.interface-btn {
    display: block;
    padding: 2px;
    border: 2px solid #493628;
    font-size: 12px;
    height: auto;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
}

.interface-btn-large {
    display: none;
}

.btn-collection-mobile {
    padding: 10px;
}

// Hover Effect
.interface-btn:hover {
    background-color: #493628;
    border-color: black;
}

// Media queries
.interface-btn {
    @media (min-width: 600px) {
        padding: 10px;
    }
}

.btn-collection-mobile {
    @media (min-width: 600px) {
        display: none;
    }
}

.interface-btn-large  {
    @media (min-width: 600px) {
        display: block;
    }
}