// ==========================================================================
//  Index Styles
// ==========================================================================
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    background-color: #CCDDE2;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
}